:root {
  --type-scale: 1.333;
  --line-height: 1.6;
  --body-size: clamp(1rem, .8852rem + .4898vw, 1.125rem);
  --nav-size: clamp(.875rem, .7985rem + .3265vw, 1rem);
  --h5-size: calc(var(--type-scale) * var(--body-size));
  --h4-size: calc(pow(var(--type-scale), 2) * var(--body-size));
  --h3-size: calc(pow(var(--type-scale), 3) * var(--body-size));
  --h2-size: calc(pow(var(--type-scale), 4) * var(--body-size));
  --h1-size: calc(pow(var(--type-scale), 5) * var(--body-size));

  --header-height: 80px;

  --text-light: hsl(0, 0%, 98%);
  --text-dark: hsl(0, 0%, 2%);
}

/* @media (prefers-color-scheme: light) { */
:root {
  --background: hsl(0, 0%, 98%);
  --text: hsl(0, 0%, 2%);
  --text-alt: hsl(0, 0%, 98%);
  --header: hsl(235, 45%, 15%);
  --nav: hsl(0, 0%, 98%);
  --section: hsl(0, 0%, 98%);

  /* 235 43 18 */
  
  --primary-50: hsl(235, 45%, 5%);
  --primary-100: hsl(235, 45%, 15%);
  --primary-150: hsl(235, 40%, 25%);
  --primary-200: hsl(235, 35%, 35%);
  --primary-250: hsl(235, 30%, 45%);
  --primary-300: hsl(235, 35%, 55%);
  --primary-350: hsl(235, 40%, 65%);
  --primary-400: hsl(235, 45%, 75%);
  --primary-450: hsl(235, 45%, 85%);

  --secondary: hsl(0, 0%, 92%);
  --secondary-50: hsl(0, 0%, 46%);

  --section-shadow: hsl(0, 0%, 0%, 30%);
  --tooltip-shadow: hsl(0, 0%, 0%, 25%);
  --tooltip-border: hsl(0, 0%, 70%);

  --leaderboard-red: hsl(0, 70%, 55%);
  --leaderboard-red-light: hsl(0, 70%, 85%);
  --leaderboard-red-dark: hsl(0, 70%, 15%);

  --first: hsl(40, 87%, 59%);
  --first-glow: hsl(40, 87%, 59%, 25%);
  --second: hsl(197, 77%, 55%);
  --second-glow: hsl(197, 77%, 55%, 25%);
  --third: hsl(40, 59%, 37%);
  --third-glow: hsl(40, 59%, 37%, 25%);
}
/* } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 6%);
    --text: hsl(0, 0%, 90%);
    --text-alt: hsl(0, 0%, 2%);
    --header: hsl(235, 43%, 20%);
    --nav: hsl(0, 0%, 98%);
    --section: hsl(0, 0%, 98%);

    --primary-50: hsl(235, 43%, 100%);
    --primary-100: hsl(235, 43%, 93%);
    --primary-150: hsl(235, 43%, 83%);
    --primary-200: hsl(235, 43%, 73%);
    --primary-250: hsl(235, 43%, 63%);
    --primary-300: hsl(235, 43%, 53%);
    --primary-350: hsl(235, 43%, 43%);
    --primary-400: hsl(235, 43%, 33%);
    --primary-450: hsl(235, 43%, 23%);

    --secondary: hsl(0, 0%, 10%);
    --secondary-50: hsl(0, 0%, 46%);

    --tooltip-shadow: hsl(0, 0%, 0%, 40%);

    --leaderboard-red: hsl(0, 70%, 73%);

    --first: hsl(40, 87%, 59%);
    --first-glow: hsl(40, 87%, 59%, 25%);
    --second: hsl(197, 77%, 55%);
    --second-glow: hsl(197, 77%, 55%, 25%);
    --third: hsl(40, 59%, 37%);
    --third-glow: hsl(40, 59%, 37%, 25%);
  }
} */

@media (min-width: 901px) {
  :root {
    --h1-size: calc(pow(var(--type-scale), 5.6) * var(--body-size));
  }
}

@media (max-width: 900px) {
  :root {
    --type-scale: 1.25;
    --h1-size: calc(pow(var(--type-scale), 6) * var(--body-size));
  }
}

@media (max-width: 600px) {
  :root {
    --type-scale: 1.22;
  }
}

html {
  font-family: 'Lexend', sans-serif;
  font-size: var(--body-size);
  color: var(--text);
  line-height: var(--line-height);
}

body {
  background-color: var(--background);
  margin: 0;
  padding-bottom: 150px;
  overflow-y: scroll;
}

h1 { font-size: var(--h1-size); color: var(--primary-100); }
h2 { font-size: var(--h2-size); color: var(--primary-100); margin: var(--h2-size) 0 1rem 0;}
h3 { font-size: var(--h3-size); color: var(--primary-100); margin: 1rem 0 1rem 0; }
h4 { font-size: var(--h4-size); color: var(--primary-100); margin: 1rem 0 1rem 0; }
h5 { font-size: var(--h5-size); color: var(--primary-100); margin: 1rem 0 1rem 0; }
p { font-size: var(--body-size); margin: 1rem 0 1rem 0; }

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  box-shadow: 0 10px 20px var(--tooltip-shadow);
}

.logo {
  object-fit: contain;
  width: 140px;
  height: 60px;
  position: absolute;
  left: 15px;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

header nav {
  flex: 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 900px) {
  .desktop {
    display: none;
  }

  header {
    justify-content: flex-start;
  }

  header nav {
    z-index: 1;
    position: absolute;
    top: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 100%;
    left: 0px;
    padding-bottom: 20px;
    background-color: var(--header);
    /* transform: translateX(0px); */
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  header nav.hidden {
    opacity: 0;
    /* transform: translateX(-100%); */
    pointer-events: none;
  }
}

a.link:not(.button) {
  text-decoration: none;
  color: var(--primary-300);
  /* text-decoration: underline dotted var(--primary-300) 3px; */
  transition-property: color text-decoration;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

a.link:not(.button):hover {
  color: var(--primary-150);
  text-decoration: underline dotted var(--primary-150) 3px;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 10px;
  flex-wrap: wrap;
  margin: 2rem 0 1rem 0;
  list-style: none;
  padding: 0;
}

#links li {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

#links li a {
  flex-grow: 1;
}

.button {
  font-family: 'Lexend', sans-serif;
  font-size: var(--body-size);
  color: var(--text);
  border: none;
  border-radius: 10px;
  background-color: var(--secondary);
}

.button:hover {
  cursor: pointer;
}

.button.link {
  text-decoration: none;
  color: var(--primary-100);
  background-color: var(--primary-450);
  transition-property: color background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  padding: 0.3rem 1rem;
  text-align: center;
}

.button.link i {
  margin-right: 0.6rem;
}

.button.link:hover {
  background-color: var(--primary-150);
  color: var(--text-alt);
}

.button.important {
  background-color: var(--primary-150);
  color: var(--text-alt);
  padding: 0.4rem 1.3rem;
  line-height: inherit;
  transition-property: background-color color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.button.important:hover {
  background-color: var(--primary-250);
  color: var(--text-alt);
}

header nav .button.nav {
  background: none;
  color: var(--nav);
  font-size: var(--nav-size);
  text-decoration: none;
}

.button.icon {
  background: none;
  text-decoration: none;
  color: var(--nav);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 24px; */
  font-size: calc(var(--nav-size) * 1.5);
}

#open-nav {
  display: none;
}

@media (max-width: 900px) {
  header nav .button.nav {
    font-size: calc(var(--nav-size) * 1.25);
    width: 100%;
    padding: 1rem;
    margin: 0;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
  }

  header nav .button.nav:hover {
    background-color: var(--primary-150);
  }

  #open-nav {
    display: block;
    font-size: 30px;
  }
}


.socials-container {
  position: absolute;
  /* right: 15px; */
  right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 15px; */
  gap: 25px;
}

#content {
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.section-header {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .section-header {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .section-header {
    height: 300px;
  }
}

.section-header div {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header img {
  min-width: 105%;
  object-fit: cover;
  margin: -5px 0px;
  filter: brightness(0.6) blur(3px);
}

.section-header h1 {
  text-align: center;
  margin: 0px;
  color: var(--section);
  text-shadow: 0px 0px 15px var(--section-shadow);
}

.section-header p {
  width: 80%;
  margin: 0px;
  font-size: var(--h4-size);
  font-weight: 600;
  text-align: center;
  color: var(--section);
  text-shadow: 0px 0px 15px var(--section-shadow);
}

/* @media (max-width: 800px) {
  .section-header p {
    width: 60%;
  }
} */

.section-header .button {
  font-size: var(--h5-size);
  font-weight: 600;
  padding: 0.4rem 1.3rem;
  margin-top: 0.5rem;
  box-shadow: 0 0 15px var(--section-shadow);
}

.section-header select {
  font-size: var(--h4-size);
  text-align: center;
  padding: 0 0.3rem 0 0;
  background: none;
  border: none;
  font-weight: 600;
  color: var(--section);
  font-family: inherit;
  cursor: pointer;
  text-shadow: 0px 0px 15px var(--section-shadow);
}

.section-header select:focus {
  outline: none;
}

.section-header select::-ms-expand {
  display: none;
}

.section-header option {
  color: var(--text);
  font-size: var(--h5-size);
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: clamp(30%, 1500px, 90%);
}

:has(>.tooltip) {
  position: relative;
}

.tooltip {
  text-align: center;
  white-space: wrap;
  pointer-events: none;
  z-index: 2;
  display: block;
  position: absolute;
  bottom: calc(100% + 10px);
  width: min(40vw, 300px);
  border: 1px solid var(--tooltip-border);
  border-radius: 10px;
  content: attr(tooltip);
  background-color: var(--secondary);
  box-shadow: 0px 10px 15px var(--tooltip-shadow);
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  color: var(--text);
  font-size: var(--nav-size);
  line-height: var(--line-height);
  padding: 0.4rem 0.8rem;
  opacity: 0;
  transform: translateY(2px);
  transition-property: opacity tansform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.tooltip.right {
  left: max(-20px, -2vw);
  right: auto;
}

.tooltip.left {
  right: max(-20px, -2vw);
  left: auto;
}

:has(>.tooltip):hover > .tooltip {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.3s;
}

/* HOME */

#welcome-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

@media (max-width: 1000px) {
  #welcome-container {
    flex-direction: column;
    gap: 0;
  }
}

#welcome-openings {
  flex-basis: 600px;
  flex-shrink: 0;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 1000px) {
  #welcome-openings {
    flex-basis: 0px;
    margin-bottom: 1rem;
  }
}

.openings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 10px;
}

.openings li {
  font-size: var(--body-size);
  background-color: var(--secondary);
  margin: 0;
  border-radius: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  padding: 0.3rem 0.7rem;
}

.openings li > div {
  flex: 1 0;
  padding: 0 0.5rem;
}

.openings li > i {
  flex: 0 0 calc(var(--body-size) * 1.25);
  color: var(--primary-100);
}

.gallery {
  width: clamp(60%, 1700px, 90%);
  column-count: 3;
  column-gap: 1rem;
  padding: 0;
  margin-top: 1rem;
}

@media (max-width: 1500px) {
  .gallery {
    width: min(90%, 1200px);
    column-count: 2;
  }
}

@media (max-width: 900px) {
  .gallery {
    width: min(90%, 600px);
    column-count: 1;
  }
}

.gallery:not(:has(:nth-child(3))) {
  column-count: 2;
}

.gallery li {
  list-style: none;
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  line-height: 0;
}

.gallery li img {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.gallery li:has(p) img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.gallery li p {
  margin: 0;
  color: var(--text);
  background-color: var(--secondary);
  /* border-radius: 10px; */
  padding: 0.2rem 0.8rem;
  line-height: var(--line-height);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* EVENTS */

#events {
  width: clamp(60%, 1700px, 85%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 1rem;
  list-style: none;
}

@media (max-width: 1500px) {
  #events {
    width: min(90%, 1000px);
    column-gap: 5%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  #events {
    width: min(90%, 500px);
    grid-template-columns: 1fr;
  }
}

.event {
  flex: 1 0 0;
}

.event img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 4 / 5;
  border-radius: 10px;
}

.event .insta > blockquote {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
}

.event h3 { /* name */
  margin: calc(var(--line-height) * 1rem - 1.3rem + 0.3rem) 0 0 0;
  line-height: 1.3;
  font-size: var(--h4-size);
}

.event ul {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
  margin: 1rem 0 0 0;
}

.event li {
  list-style-type: none;
  flex-grow: 1;
}

.event li:not(:has(a)) {
  color: var(--text);
  background-color: var(--secondary);
  padding: 0.3rem 1rem;
  border-radius: 10px;
  white-space: nowrap;
  text-align: center;
  font-size: var(--body-size);
}

.event li:has(a) {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.event li a {
  flex-grow: 1;
}

.event li:not(:has(a)) i {
  color: var(--text);
  margin-right: 0.6rem;
}


/* COUNCIL */

#council-grid {
  display: grid;
  width: clamp(60%, 1700px, 85%);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin-top: 100px;
  padding: 0;
  list-style: none;
}

@media (max-width: 1500px) {
  #council-grid {
    width: min(90%, 1000px);
    column-gap: 5%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  #council-grid {
    width: min(90%, 500px);
    grid-template-columns: 1fr;
  }
}

.council-member img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.council-member h2 { /* name */
  font-size: var(--h4-size);
  margin: 0.3rem 0 0 0;
}

.council-member h3 { /* position */
  font-size: var(--h5-size);
  font-weight: 400;
  margin: 0;
  /* margin: 0 0 1rem 0; */
}

.council-member h3 > span {
  white-space: nowrap;
}

.council-member h3 i {
  margin-left: 0.5rem;
  font-size: var(--body-size);
  color: var(--primary-100);
}

.council-member ul {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.council-member li:has(> a) {
  background: none;
  padding: 0;
  display: flex;
}

.council-member .button.link {
  padding: 0.2rem 0.8rem;
}

/* CONTACT */

form {
  width: min(100%, 750px);
  margin-top: 50px;
}

form label h3 {
  font-size: var(--h5-size);
  margin: 0 0 0.5rem 0;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.form-container > div {
  min-width: 200px;
}

form input {
  box-sizing: border-box;
  font-size: var(--body-size);
  font-family: inherit;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary);
  padding: 0.5rem 0.7rem;
  width: 100%;
  
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); */
}

form textarea {
  box-sizing: border-box;
  resize: none;
  font-size: var(--body-size);
  font-family: inherit;
  width: 100%;
  height: calc(6.1 * var(--line-height) * var(--body-size));
  margin: 0;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 0.7rem;
}

form select {
  width: 100%;
  font-size: var(--body-size);
  color: var(--text);
  font-family: inherit;
  padding: 0.5rem 0.7rem;
  margin: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary);
}

form option {
  color: var(--text);
}

form button {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0.7rem;
  line-height: inherit;
}

/* LEADERBOARD */

nav.leaderboard {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.leaderboard .button.nav {
  color: var(--text);
  font-size: var(--h4-size);
  padding: 0.3em 0.4em;
  /* background-color: var(--secondary); */
}

#live {
  background-color: var(--leaderboard-red);
  color: var(--text-alt);
  border-radius: 0.4em;
  padding: 0.125em 0.25em;
  text-decoration: none;
}

#leaderboard-games {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

#leaderboard-games li {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.button.leaderboard {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  line-height: inherit;
  background-color: var(--secondary);
  transition-property: background-color color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  text-decoration: none;
}

.button.leaderboard:hover, .button.leaderboard.selected {
  background-color: var(--leaderboard-red);
  color: var(--text-alt);
}

/* .button.leaderboard.link {
  background-color: var(--leaderboard-red-light);
  color: var(--leaderboard-red-dark);
}

.button.leaderboard.link:hover {
  background-color: var(--leaderboard-red);
  color: var(--text-alt);
} */

.button.leaderboard i {
  margin-right: 0.6rem;
}

#leaderboard-search {
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: var(--body-size);
  padding: 0.5rem 0.8rem;
  line-height: inherit;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 10px 0;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  margin: 0;
  width: 100%;
  list-style: none;
  padding: 0;
}

.player-card {
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

.player-card .rank {
  margin: 0 0 0 max(2vw, 20px);
  text-align: center;
  flex: 0 0 3.5rem;
  font-weight: 600;
  font-size: var(--h5-size);
}

.player-card .rank.r1{
  font-size: var(--h1-size);
  color: var(--first);
  text-shadow: 0 0 0.25em var(--first-glow);
}

/* .player-card .rank.r1 ~ p {
  font-size: calc(var(--body-size) * pow(var(--type-scale), 0.75));
} */

.player-card .rank.r2 {
  font-size: var(--h2-size);
  color: var(--second);
  text-shadow: 0 0 0.25em var(--second-glow);
}

/* .player-card .rank.r2 ~ p {
  font-size: calc(var(--body-size) * pow(var(--type-scale), 0.5));
} */

.player-card .rank.r3 {
  font-size: var(--h3-size);
  color: var(--third);
  text-shadow: 0 0 0.25em var(--third-glow);
}

/* .player-card .rank.r3 ~ p {
  font-size: calc(var(--body-size) * pow(var(--type-scale), 0.25));
} */

.player-card .name {
  flex: 1 1;
  text-align: center;
}

.player-card .rating {
  margin: 0 max(2vw, 20px) 0 0;
  flex: 0 0 3.5rem;
  text-align: center;
}