:root {
  /* type */
  --type-scale: 1.333;
  --line-height: 1.6;
  --body-size: clamp(1rem, .8852rem + .4898vw, 1.125rem);
  --nav-size: clamp(.875rem, .7985rem + .3265vw, 1rem);
  --h5-size: calc(var(--type-scale) * var(--body-size));
  --h4-size: calc(pow(var(--type-scale), 2) * var(--body-size));
  --h3-size: calc(pow(var(--type-scale), 3) * var(--body-size));
  --h2-size: calc(pow(var(--type-scale), 4) * var(--body-size));
  --h1-size: calc(pow(var(--type-scale), 5.6) * var(--body-size));

  /* constants */
  --navbar-height: 80px;
  --icon-margin: 0.6em;
  --border-radius: 10px;
  --gap-width: 10px;
  --grid-col-gap: min(5%, 100px);
  --grid-row-gap: min(20vw, 100px);
  --grid-margin-top: clamp(60px, 10vw, 100px);
  --item-name-margin: calc(var(--line-height) * 1rem - 1rem) 0 0 0;
  --item-name-line-height: 1.4;

  /* section headers */
  --section-shadow: 0 0 0.3em hsl(0, 0%, 0%, 50%);
  --section-filter: brightness(0.9) blur(calc(var(--section-header-height) / 55));

  /* padding */
  --standard-padding: 0.3em 0.9em;
  --thin-padding: 0.2em 0.8em;
  --thick-padding: 0.5em 1.2em;
  --icon-padding: 0.3em 0.3em;
  --tooltip-padding: 0.5rem 0.8rem;
  --select-height: calc(1em * var(--line-height) + 0.6em); /* select ignores line height */
  
  /* variables */
  --section-header-height: 500px;
  --inner-width: clamp(30%, 1500px, 85%);
  --grid-width: clamp(60%, 1700px, 85%);
  --gallery-width: clamp(60%, 1700px, 85%);
  --grid-columns: 3;
  
  /* colours */
  --text-light: hsl(0, 0%, 98%);
  --text-dark: hsl(0, 0%, 2%);
}

/* @media (prefers-color-scheme: light) { */
:root {
  --background: hsl(0, 0%, 98%);
  --text: hsl(0, 0%, 2%);
  --text-alt: hsl(0, 0%, 98%);
  --header: hsl(235, 45%, 15%);
  --nav: hsl(0, 0%, 98%);
  --section: hsl(0, 0%, 98%);
  
  --primary-50: hsl(235, 45%, 5%);
  --primary-100: hsl(235, 45%, 15%);
  --primary-150: hsl(235, 40%, 25%);
  --primary-200: hsl(235, 35%, 35%);
  --primary-250: hsl(235, 30%, 45%);
  --primary-300: hsl(235, 35%, 55%);
  --primary-350: hsl(235, 40%, 65%);
  --primary-400: hsl(235, 45%, 75%);
  --primary-450: hsl(235, 45%, 85%);

  --secondary: hsl(0, 0%, 92%);

  --tooltip-shadow: hsl(0, 0%, 0%, 15%);
  --tooltip-border: hsl(0, 0%, 70%);

  --leaderboard-red: hsl(0, 70%, 55%);
  --leaderboard-red-light: hsl(0, 70%, 85%);
  --leaderboard-red-dark: hsl(0, 70%, 15%);

  --first: hsl(40, 87%, 59%);
  --first-glow: hsl(40, 87%, 59%, 25%);
  --second: hsl(197, 77%, 55%);
  --second-glow: hsl(197, 77%, 55%, 25%);
  --third: hsl(40, 59%, 37%);
  --third-glow: hsl(40, 59%, 37%, 25%);
}
/* } */

@media (max-width: 1500px) {
  :root {
    --grid-width: min(90%, 1000px);
    --gallery-width: min(90%, 1200px);
    --grid-columns: 2;
  }
}

@media (max-width: 925px) {
  :root {
    --type-scale: 1.25;
    --h1-size: calc(pow(var(--type-scale), 6) * var(--body-size));
    --section-header-height: 400px;
    --grid-width: min(90%, 500px);
    --gallery-width: min(90%, 600px);
    --grid-columns: 1;
  }
}

@media (max-width: 600px) {
  :root {
    --type-scale: 1.22;
    --section-header-height: 300px;
    --inner-width: 90%;
  }
}

html {
  font-family: 'Lexend', sans-serif;
  font-size: var(--body-size);
  color: var(--text);
  line-height: var(--line-height);
}

body {
  background-color: var(--background);
  margin: 0;
  min-height: fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
}

body:not(#leaderboard-body) {
  overscroll-behavior: none;
}

h1 { font-size: var(--h1-size); color: var(--primary-100); }
h2 { font-size: var(--h2-size); color: var(--primary-100); margin: var(--h2-size) 0 1rem 0;}
h3 { font-size: var(--h3-size); color: var(--primary-100); margin: 1rem 0 1rem 0; }
h4 { font-size: var(--h4-size); color: var(--primary-100); margin: 1rem 0 1rem 0; }
h5 { font-size: var(--h5-size); color: var(--primary-100); margin: 1rem 0 1rem 0; }
p { font-size: var(--body-size); margin: 1rem 0 1rem 0; }

#content {
  margin-top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: fit-content;
  text-align: center;
  position: relative;
  background-color: var(--background);
  padding-bottom: 150px;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 0px 1rem; */
  box-shadow: 0 10px 20px var(--tooltip-shadow);
}

.logo {
  object-fit: contain;
  width: 140px;
  height: 60px;
  position: absolute;
  left: 15px;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

header nav {
  flex: 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: max(0px, calc(max(1.5rem, 2.5vw) - 1.6em));
}

@media (max-width: 925px) {
  .desktop {
    display: none;
  }

  header {
    justify-content: flex-start;
  }

  header nav {
    z-index: 1;
    position: absolute;
    top: var(--navbar-height);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 100%;
    left: 0px;
    padding-bottom: 1rem;
    background-color: var(--header);
    /* transform: translateX(0px); */
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  header nav.hidden {
    opacity: 0;
    /* transform: translateX(-100%); */
    pointer-events: none;
  }
}

a.link:not(.button) {
  text-decoration: none;
  color: var(--primary-300);
  /* text-decoration: underline dotted var(--primary-300) 3px; */
  transition-property: color text-decoration;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

a.link:not(.button):hover {
  color: var(--primary-150);
  text-decoration: underline dotted var(--primary-150) 3px;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: var(--gap-width);
  flex-wrap: wrap;
  margin: 2rem 0 0 0;
  list-style: none;
  padding: 0;
}

#links li {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

#links li a {
  flex-grow: 1;
}

button {
  padding-block: 0;
  padding-inline: 0;
  line-height: inherit;
}

select {
  padding-block: 0;
  padding-inline: 0;
}

option {
  padding-block: 0;
  padding-inline: 0;
}

.button {
  font-family: 'Lexend', sans-serif;
  font-size: var(--body-size);
  color: var(--text);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  padding: var(--standard-padding);
}

.button:hover {
  cursor: pointer;
}

.button.link {
  text-decoration: none;
  color: var(--primary-100);
  background-color: var(--primary-450);
  transition-property: color background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  text-align: center;
}

.button.link i {
  margin-right: var(--icon-margin);
}

.button.link:hover {
  background-color: var(--primary-150);
  color: var(--text-alt);
}

.button.important {
  background-color: var(--primary-150);
  color: var(--text-alt);
  /* padding: var(--thick-padding); */
  transition-property: background-color color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.button.important:hover {
  background-color: var(--primary-250);
  color: var(--text-alt);
}

header nav .button.nav {
  background: none;
  color: var(--nav);
  font-size: var(--nav-size);
  text-decoration: none;
  padding: var(--thin-padding);
}

.button.icon {
  padding: var(--icon-padding);
  /* padding: var(--standard-padding); */
  line-height: 0;
  background: none;
  text-decoration: none;
  color: var(--nav);
  display: inline-block;
  /* font-size: 24px; */
  font-size: calc(var(--nav-size) * 1.5);
}

#open-nav {
  display: none;
  position: absolute;
  left: 1rem;
}

@media (max-width: 925px) {
  header nav .button.nav {
    font-size: calc(var(--nav-size) * 1.125);
    width: 100%;
    padding: 1em;
    margin: 0;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
  }

  header nav .button.nav:hover {
    background-color: var(--primary-150);
  }

  #open-nav {
    display: inline-block;
    font-size: calc(var(--nav-size) * 2);
  }
}

.socials-container {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--icon-margin);
}

.section-header {
  top: var(--navbar-height);
  width: 100%;
  height: var(--section-header-height);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
}

.section-header > div {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header img {
  z-index: 0;
  position: fixed;
  width: 110%;
  height: calc(var(--section-header-height) + 4vw);
  margin: -2vw 0;
  object-fit: cover;
  filter: var(--section-filter);
}

#reload-indicator {
  z-index: 1;
  content: '';
  font-size: var(--h3-size);
  color: var(--text-alt);
  text-shadow: var(--section-shadow);
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(-25px - 0.5 * var(--navbar-height));
  transform: translateY(0px);
  transition-property: transform;
  transition-duration: 0s;
  transition-timing-function: ease-in-out;
}

.section-header h1 {
  text-align: center;
  margin: 0px;
  color: var(--section);
  text-shadow: var(--section-shadow);
}

.section-header p {
  width: 80%;
  margin: 0px;
  font-size: var(--h4-size);
  font-weight: 600;
  text-align: center;
  color: var(--section);
  text-shadow: var(--section-shadow);
}

.section-header .button {
  font-size: var(--h5-size);
  font-weight: 600;
  margin-top: 0.5rem;
  box-shadow: var(--section-shadow);
}

.section-header select {
  font-size: var(--h4-size);
  text-align: center;
  padding: 0 0.3rem 0 0;
  background: none;
  border: none;
  font-weight: 600;
  color: var(--section);
  font-family: inherit;
  cursor: pointer;
  text-shadow: var(--section-shadow);
}

.section-header select:focus {
  outline: none;
}

.section-header select::-ms-expand {
  display: none;
}

.section-header option {
  color: var(--text);
  font-size: var(--h5-size);
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--inner-width);
}

.below-header {
  margin-top: var(--grid-margin-top);
}

@media (min-width: 601px) {
  :has(>.tooltip) {
    position: relative;
  }
}

.tooltip {
  text-align: center;
  white-space: wrap;
  word-wrap: break-word;
  pointer-events: none;
  z-index: 2;
  display: block;
  position: absolute;
  bottom: auto;
  width: min(45vw, 300px);
  box-sizing: border-box;
  border: 1px solid var(--tooltip-border);
  border-radius: var(--border-radius);
  content: attr(tooltip);
  background-color: var(--secondary);
  box-shadow: 0px 5px 15px var(--tooltip-shadow);
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  color: var(--text);
  font-size: var(--nav-size);
  line-height: var(--line-height);
  padding: var(--tooltip-padding);
  opacity: 0;
  transform: translateY(calc(-100% - 2rem + 5px));
  transition-property: opacity tansform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.tooltip.right {
  left: max(-20px, -2vw);
  right: auto;
}

.tooltip.left {
  right: max(-20px, -2vw);
  left: auto;
}

@media (max-width: 600px) {
  .tooltip, .tooltip.left, .tooltip.right {
    width: auto;
    max-width: none;
  }
  .tooltip.right {
    left: 7.5%;
    right: 20%;
  }
  .tooltip.left {
    left: 20%;
    right: 7.5%;
  }
}

:has(>.tooltip):hover > .tooltip {
  transform: translateY(calc(-100% - 2rem));
  opacity: 1;
  transition-delay: 0.3s;
}

/* HOME */

#welcome-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-bottom: 1rem;
}

#welcome-blurb {
  flex: 1 1 0px;
  text-align: left;
}

#welcome-openings {
  flex: 0 0 32rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

#welcome-openings > div {
  display: flex;
  flex-direction: row;
  gap: var(--gap-width);
}

@media (max-width: 1300px) {
  #welcome-container {
    flex-direction: column;
    gap: 0;
  }
  #welcome-blurb {
    margin-bottom: 1rem;
  }
  #welcome-openings {
    flex-basis: 0;
  }
}

.openings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: var(--gap-width);
}

.openings li {
  font-size: var(--body-size);
  background-color: var(--secondary);
  margin: 0;
  border-radius: var(--border-radius);
  text-align: center;
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  padding: var(--standard-padding);
}

.openings li > div {
  flex: 1 0;
  padding: 0 var(--icon-margin);
}

.openings li > i {
  flex: 0 0 calc(var(--body-size) * 1.25);
  color: var(--primary-100);
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--gallery-width);
}

#gallery h3 {
  text-align: center;
  width: 100%;
  background-color: var(--secondary);
  border-radius: var(--border-radius);
}

#gallery h4 {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.collection {
  width: 100%;
  column-count: var(--grid-columns);
  column-gap: 1rem;
  padding: 0;
  margin-top: 1rem;
}

.collection:not(:last-child) {
  margin-bottom: 2rem;
}

.collection:not(:has(:nth-child(3))) {
  column-count: 2;
}

.collection:not(:has(:nth-child(2))) {
  width: 50%;
  column-count: 1;
}

.collection li {
  list-style: none;
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  line-height: 0;
}

.collection li figure {
  padding: 0;
  margin: 0;
}

.collection li img {
  overflow: hidden;
  width: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.collection li:has(figcaption) img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.collection li figcaption {
  text-align: left;
  margin: 0;
  color: var(--text);
  background-color: var(--secondary);
  padding: var(--standard-padding);
  line-height: var(--line-height);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* EVENTS */

#events {
  width: var(--grid-width);
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-col-gap);
  row-gap: var(--grid-row-gap);
  padding: 0;
  margin-top: var(--grid-margin-top);
  margin-bottom: 1rem;
  list-style: none;
}

.event {
  flex: 1 0 0;
  text-align: left;
}

.event img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 4 / 5;
  border-radius: var(--border-radius);
}

.event h2 { /* name */
  margin: var(--item-name-margin);
  line-height: var(--item-name-line-height);
  font-size: var(--h4-size);
}

.event ul {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  gap: var(--gap-width);
  margin: 1rem 0 0 0;
}

.event li {
  list-style-type: none;
  flex-grow: 1;
}

.event li:not(:has(a)) {
  color: var(--text);
  background-color: var(--secondary);
  padding: var(--standard-padding);
  border-radius: var(--border-radius);
  white-space: nowrap;
  text-align: center;
  font-size: var(--body-size);
}

.event li:has(a) {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.event li a {
  flex-grow: 1;
}

.event li:not(:has(a)) i {
  color: var(--text);
  margin-right: var(--icon-margin);
}


/* COUNCIL */

#council-grid {
  display: grid;
  width: var(--grid-width);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: auto;
  column-gap: var(--grid-col-gap);
  row-gap: var(--grid-row-gap);
  margin-top: var(--grid-margin-top);
  padding: 0;
  list-style: none;
}

.council-member {
  text-align: left;
}

.council-member img {
  border-radius: var(--border-radius);
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.council-member h2 { /* name */
  font-size: var(--h4-size);
  line-height: var(--item-name-line-height);
  margin: var(--item-name-margin);
}

.council-member h3 { /* position */
  font-size: var(--h5-size);
  font-weight: 400;
  margin: 0;
}

.council-member h3 > span {
  white-space: nowrap;
}

.council-member h3 i {
  margin-left: var(--icon-margin);
  font-size: var(--body-size);
  color: var(--primary-100);
}

.council-member ul {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-width);
  flex-wrap: wrap;
}

.council-member li:has(> a) {
  background: none;
  padding: 0;
  display: flex;
}

.council-member .button.link {
  padding: var(--thin-padding);
}

/* CONTACT */

form {
  width: min(100%, 750px);
  margin-top: 50px;
  text-align: left;
}

form label h3 {
  font-size: var(--h5-size);
  margin: 0 0 0.5rem 0;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap;
}

.form-container > div {
  min-width: 200px;
}

form input {
  line-height: inherit;
  box-sizing: border-box;
  font-size: var(--body-size);
  font-family: inherit;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  padding: var(--standard-padding);
  width: 100%;
}

form textarea {
  line-height: inherit;
  box-sizing: border-box;
  resize: none;
  font-size: var(--body-size);
  font-family: inherit;
  width: 100%;
  height: calc(6.1 * var(--line-height) * var(--body-size));
  margin: 0;
  background-color: var(--secondary);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--standard-padding);
}

form select {
  width: 100%;
  font-size: var(--body-size);
  height: var(--select-height);
  color: var(--text);
  font-family: inherit;
  margin: 0;
  border: none;
  padding: var(--standard-padding);
  border-radius: var(--border-radius);
  background-color: var(--secondary);
}

form option {
  font-size: var(--body-size);
  font-family: inherit;
  color: var(--text);
}

form .button {
  width: 100%;
}

/* MERCH */

#merch-grid {
  display: grid;
  width: var(--grid-width);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: auto;
  column-gap: var(--grid-col-gap);
  row-gap: var(--grid-row-gap);
  margin-top: var(--grid-margin-top);
  padding: 0;
  list-style: none;
}

.merch-item img {
  border-radius: var(--border-radius);
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.merch-item h2 { /* name */
  text-align: left;
  font-size: var(--h4-size);
  margin: var(--item-name-margin);
  line-height: var(--item-name-line-height);
}

.merch-item div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0 0 0;
}

.merch-item p, ul {
  margin: 0;
}

.merch-item .price {
  font-size: var(--h5-size);
  font-weight: 400;
}

.merch-item ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--gap-width);
  list-style: none;
  padding: 0;
}

.merch-item li, .merch-item .out-of-stock {
  font-size: var(--body-size);
  line-height: inherit;
  background-color: var(--secondary);
  color: var(--text);
  padding: var(--thin-padding);
  border-radius: var(--border-radius);
}

.merch-item .out-of-stock {
  background-color: var(--leaderboard-red);
  color: var(--text-alt);
}

/* LEADERBOARD */

nav.leaderboard {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.leaderboard .button.nav {
  color: var(--text);
  font-size: var(--h4-size);
  padding: var(--icon-padding);
}

#live {
  background-color: var(--leaderboard-red);
  color: var(--text-alt);
  border-radius: 0.4em;
  padding: 0.125em 0.25em;
  text-decoration: none;
}

#leaderboard-games {
  display: flex;
  flex-direction: row;
  gap: var(--gap-width);
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

#leaderboard-games li {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.button.leaderboard {
  flex-grow: 1;
  padding: var(--thick-padding);
  line-height: inherit;
  background-color: var(--secondary);
  transition-property: background-color color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  text-decoration: none;
}

.button.leaderboard:hover, .button.leaderboard.selected {
  background-color: var(--leaderboard-red);
  color: var(--text-alt);
}

.button.leaderboard i {
  margin-right: var(--icon-margin);
}

#leaderboard-search {
  background-color: var(--secondary);
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: var(--body-size);
  padding: var(--thick-padding);
  line-height: inherit;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: var(--gap-width) 0;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--gap-width);
  margin: 0;
  width: 100%;
  list-style: none;
  padding: 0;
}

.player-card {
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  border-radius: var(--border-radius);
  width: 100%;
}

.player-card .rank {
  margin: 0 0 0 max(2vw, 20px);
  text-align: center;
  flex: 0 0 3.5rem;
  font-weight: 600;
  font-size: var(--h5-size);
}

.player-card .rank.r1{
  font-size: var(--h1-size);
  color: var(--first);
  text-shadow: 0 0 0.25em var(--first-glow);
}

/* .player-card .rank.r1 ~ p {
  font-size: calc(var(--body-size) * pow(var(--type-scale), 0.75));
} */

.player-card .rank.r2 {
  font-size: var(--h2-size);
  color: var(--second);
  text-shadow: 0 0 0.25em var(--second-glow);
}

/* .player-card .rank.r2 ~ p {
  font-size: calc(var(--body-size) * pow(var(--type-scale), 0.5));
} */

.player-card .rank.r3 {
  font-size: var(--h3-size);
  color: var(--third);
  text-shadow: 0 0 0.25em var(--third-glow);
}

/* .player-card .rank.r3 ~ p {
  font-size: calc(var(--body-size) * pow(var(--type-scale), 0.25));
} */

.player-card .name {
  flex: 1 1;
  text-align: center;
}

.player-card .rating {
  margin: 0 max(2vw, 20px) 0 0;
  flex: 0 0 3.5rem;
  text-align: center;
}
